colorGreen = #72d533;
colorBlack = #2b2b2b;
colorGrayDeep = #929292;
colorWhite = #fafafa;
colorWhitePure = #ffffff;
colorBlue = #1dc5c9;
colorBlueLight = #3fd9da;
colorGray = #e8e8e8;
colorShadow = rgba(0,0,0,.15)
colorShadowLight = rgba(0,0,0,.1)
body
    background-color colorWhite

.btnFixRight
    width 100vw
    text-align right

#btn_blue_R
  color colorGrayDeep
  position relative
  transition .5s ease
  display inline-block
  width auto
  text-align right
  margin-top 100px
  margin-right 7vw
  transition .5s ease
  &:after
        content ''
        display block
        position absolute
        width 0%
        height 1px
        left 50%
        bottom -2px
        background-color colorBlue
        opacity 0
        transition .5s ease
  &:hover
    color colorBlue
    transition .5s ease
    &:after
        content ''
        display block
        position absolute
        width 94%
        height 1px
        left 3%
        bottom -2px
        background-color colorBlue
        opacity 1
        transition .5s ease


.pageList
    display flex
    flex-direction column
    flex-wrap wrap
    justify-content center
    align-items center
    padding 30px 10px
    .pageLink
        flex  none
        width 45vw
        max-width 700px
        min-width  300px
        margin 40px 0 40px 0
        height auto
        position relative
        transition .5s cubic-bezier(.19,.65,.94,.71)
        &:first-child>div.pic
            background-image url('../images/cover/ci.png')
        &:nth-child(2)>div.pic
            background-image url('../images/cover/app.png')
        &:nth-child(3)>div.pic
            background-image url('../images/cover/newHERO.png')
        &:nth-child(4)>div.pic
            background-image url('../images/cover/event.png')
        &:nth-child(5)>div.pic
            background-image url('../images/cover/data.png')
        &:nth-child(6)>div.pic
            background-image url('../images/cover/logo_pinkbg.png')
        &:nth-child(7)>div.pic
            background-image url('../images/cover/seenews.png')
        &:nth-child(8)>div.pic
            background-image url('../images/cover/ux2.png')

        div.pic
            position relative
            flex none
            width 100%
            height 0
            padding-top 60%
            background-size cover
            background-position center center 
            background-repeat no-repeat 
            background-color colorWhite
            box-shadow 0px 5px 5px -3px rgba(54,80,90,.08),0px 2px 10px 0px rgba(54,80,90,.07)
            border-radius 30px
            transition .5s cubic-bezier(.19,.65,.94,.71)
        h2
            position relative
            color colorGrayDeep
            margin-top 20px
            text-align center
        &:hover,:active
            //transform translateY(-6px)
            transition .5s cubic-bezier(.33,.19,.38,.98)
            
            &>div.pic
                transform scale(1.03) translateY(-10px)
                transition .5s cubic-bezier(.33,.19,.38,.98)
                box-shadow 0px 25px 8px -20px rgba(54,80,90,.15),0px 5px 25px -6px rgba(54,80,90,.15)
