colorGreen = #72d533;
colorBlack = #2b2b2b;
colorWhite = #fafafa;
colorWhitePure = #ffffff;
colorBlue = #1dc5c9;
colorBlueLight = #3fd9da;
colorGray = #e8e8e8;
colorShadow = rgba(16,158,155,.35)


.sec_draw
    margin-top 20vw
    display flex
    padding 20px 50px
    align-content center
    &>div:first-child
        flex 3 1
        padding-right 50px
        h2 
            margin-bottom 30px
        p
            line-height 1.5
            text-align justify
    &>div:nth-child(2)
        flex 2 1
        min-width 300px
        line-height 100%
        vertical-align middle
        img
            position relative
            width 100%
            height auto
            box-shadow 2px 5px 15px -4px colorShadow
        

